.box {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: rgb(78, 224, 134);
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    border: solid black;
} 
#boxA {
    top: 200px;
    left: 200px;
} 
#boxB {
    top: calc(200px - 30px);
    left: calc(200px - 30px);
} 
#boxC {
    top: calc(200px - 30px);
    left: calc(200px + 30px);
} 
#boxD {
    top: calc(200px + 30px);
    left: calc(200px - 30px);;
} 
#boxE {
    top: calc(200px + 30px);
    left: calc(200px + 30px);
}