body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.content {
    padding: 20px;
    height: 1000px;
    background-color: #f4f4f4;
}